body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: black;
}

.merchs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.merch {
  border: 1px #404040 solid;
  margin: 1rem;
}

.merch img {
  width: 100%;
  max-width: 400px;
}

.merch-info {
  padding: 1rem;
}

.site-container {
  min-height: 100vh;
}

.srating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}
